<a href="https://colab.research.google.com/github/mustafabozkaya/DeepLearningBootcamp2022/blob/master/Exercise/python_ml/Guided_project_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Chapter 3: Data cleaning exercise

### Sales department performance analysis

The HR department wants to analyze the performance of the employees in the sales department.

### Data Reading
Rachel wrote a text file employee_revenue.txt including all necessary information, but she needs help to extract the necessary information.

Start by uploading the employee_revenue file to the working directory.

ðŸ“Œ Use the .read() method to open the text file in read mode and assign it to the variable "data".

In [2]:
!pwd

/content

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
# githup folder included from repository
%%bash
git clone https://github.com/mustafabozkaya/DeepLearningBootcamp2022.git deeplearning/

Cloning into 'deeplearning'...

In [7]:
%ls deeplearning/

convolutional_NN/     Exercise/  Spectogram_Recognition_CNN.ipynb
employee_revenue.txt  README.md  urban_sounds_classification.pdf

In [8]:
#Open the file in read mode
with open("/content/deeplearning/employee_revenue.txt","r") as f:

  data=f.read()

In [10]:
# print data
data

'  Ben made 300 calls and generated 2400 dollars last Month with an 8$ average deal size.  \nomer called 10 times and Sold 2 courses generated 60 dollars last month with a 6$ average deal size.\n   KAren called 500 people and achieved success by GETting 24$ average deal size, got 12000 dollars revenue.     \nCeline with 70 calls, made 2275 dollars and 32$ average deal size IN the previous month.  \n     Sue called 100 people and earned 500 Dollars in REvenue and an AVERAGE DEAL SIZE of 5$ Last month.\nBora called 100 people generated 770 dollars last month, his average deal size was 25$.  \nRose made 600 phone calls and GENERATING 4000 dollars a past month 25$ average deal SIZE. \nEllen made 800 calls and generated 6000 dollars a prior mONTH and reached 40$ the average deal size. \n bob made 200 phone calls, helped to make a proGress and generated 800 dollars LAST MONTH and gaining 15$ average deal size.\nTaylor, with 450 calls generated 1200 dollars in revenue pASt month, and the average deal size was 10$. \n  JuDE made 80 calls and earned 500 dollars for the company last month, her average deal size was 12$.\n'

In [11]:
# file=open("/content/employee_revenue.txt","r")

In [12]:
#Print the data
# data=file.read()

### Data Cleaning

You can see that the data needs to be cleaned and information has to be extracted from these lines. 

To be able to clean the data, you need to separate the text into lines.

ðŸ“Œ Use the .splitlines() method.

In [13]:
#Seperate the data into lines
lines=data.splitlines()
print(*lines,sep="||")

  Ben made 300 calls and generated 2400 dollars last Month with an 8$ average deal size.  ||omer called 10 times and Sold 2 courses generated 60 dollars last month with a 6$ average deal size.||   KAren called 500 people and achieved success by GETting 24$ average deal size, got 12000 dollars revenue.     ||Celine with 70 calls, made 2275 dollars and 32$ average deal size IN the previous month.  ||     Sue called 100 people and earned 500 Dollars in REvenue and an AVERAGE DEAL SIZE of 5$ Last month.||Bora called 100 people generated 770 dollars last month, his average deal size was 25$.  ||Rose made 600 phone calls and GENERATING 4000 dollars a past month 25$ average deal SIZE. ||Ellen made 800 calls and generated 6000 dollars a prior mONTH and reached 40$ the average deal size. || bob made 200 phone calls, helped to make a proGress and generated 800 dollars LAST MONTH and gaining 15$ average deal size.||Taylor, with 450 calls generated 1200 dollars in revenue pASt month, and the average deal size was 10$. ||  JuDE made 80 calls and earned 500 dollars for the company last month, her average deal size was 12$.

In [14]:
lines

['  Ben made 300 calls and generated 2400 dollars last Month with an 8$ average deal size.  ',
 'omer called 10 times and Sold 2 courses generated 60 dollars last month with a 6$ average deal size.',
 '   KAren called 500 people and achieved success by GETting 24$ average deal size, got 12000 dollars revenue.     ',
 'Celine with 70 calls, made 2275 dollars and 32$ average deal size IN the previous month.  ',
 '     Sue called 100 people and earned 500 Dollars in REvenue and an AVERAGE DEAL SIZE of 5$ Last month.',
 'Bora called 100 people generated 770 dollars last month, his average deal size was 25$.  ',
 'Rose made 600 phone calls and GENERATING 4000 dollars a past month 25$ average deal SIZE. ',
 'Ellen made 800 calls and generated 6000 dollars a prior mONTH and reached 40$ the average deal size. ',
 ' bob made 200 phone calls, helped to make a proGress and generated 800 dollars LAST MONTH and gaining 15$ average deal size.',
 'Taylor, with 450 calls generated 1200 dollars in revenue pASt month, and the average deal size was 10$. ',
 '  JuDE made 80 calls and earned 500 dollars for the company last month, her average deal size was 12$.']

### Clean the data line by line

Start to clean the data for the first line.

ðŸ“Œ Use the .strip() method to remove the whitespaces from the edges of the string.

In [15]:
#Take the first line
first_line=lines[0]
first_line

'  Ben made 300 calls and generated 2400 dollars last Month with an 8$ average deal size.  '

In [16]:
#Remove the whitespaces from the edges
first_line=first_line.strip()
first_line

'Ben made 300 calls and generated 2400 dollars last Month with an 8$ average deal size.'

Next, you need to fix the capitalization issues.

ðŸ“Œ Use the .lower() method to convert the text to lowercase.

ðŸ“Œ Then use the .capitalize() method to capitalize the first letter.

In [17]:
#Convert the string to lowercase
lower=first_line.lower()
lower

'ben made 300 calls and generated 2400 dollars last month with an 8$ average deal size.'

In [18]:
#Capitalize the first character
capitalize=first_line.capitalize()
capitalize

'Ben made 300 calls and generated 2400 dollars last month with an 8$ average deal size.'

In [19]:
#Convert the string to uppercase
uppercase=first_line.upper()
uppercase

'BEN MADE 300 CALLS AND GENERATED 2400 DOLLARS LAST MONTH WITH AN 8$ AVERAGE DEAL SIZE.'

### Information Extraction

To extract the information, you need to split the sentence into words. 

ðŸ“Œ Use the .split() method.

In [20]:
#Split the sentece into words
words=first_line.split()
words

['Ben',
 'made',
 '300',
 'calls',
 'and',
 'generated',
 '2400',
 'dollars',
 'last',
 'Month',
 'with',
 'an',
 '8$',
 'average',
 'deal',
 'size.']

You might noticed that the first element in the list is the name and the third element is the number of calls.

ðŸ“Œ Use the indeces to extract the name and number of calls.

In [21]:
#Use the index 0 to access the name element
name=words[0]
name

'Ben'

In [22]:
#Use the index 2 to access the number of calls element
calls=words[2]
calls

'300'

So far so good!

But as you can see the sentence order is not the same after the 7th element.

To extract the average deal size you need to come up with a different approach. You can use the "$" sign to find the corresponding element.

ðŸ“Œ Loop over the list to find the element that includes the "$" sign.

ðŸ“Œ Then, use the .split() method to divide the string into the number and the $ sign.

In [23]:
#Find the element with the "$" sign
for s in words:
  if "$" in s:

  #Divide the number from it
    avarage_deal_size=s.split("$")[0]

#Print the average deal size
print(avarage_deal_size)

8

Similarly, we can use the string "dollars" to extract the revenue, which is the element right before "dollars".

ðŸ“Œ Use the .index() method to identify the index for the "dollars" element.

ðŸ“Œ Then, use this index to specify and extract the revenue.

In [24]:
#Find the index of element "dollars"
dollars=words.index("dollars")
dollars

7

In [25]:
#Subtract one from the index to identify the index of the revenue element
revenue_index=dollars-1
revenue_index

6

In [26]:
#Extract the revenue
revenue=words[revenue_index]
revenue

'2400'

Great! You extracted all necessary information.

ðŸ“Œ Print the information and check the types of the data.

In [27]:
#Print out the extracted information
print(f" Employee name :{name}")

print(f" Employee calls number :{calls}")

print(f" Employee revenue :{revenue}")

print(f" Employee avarage deal size($) : :{avarage_deal_size}")

 Employee name :Ben
 Employee calls number :300
 Employee revenue :2400
 Employee avarage deal size($) : :8

In [28]:
#Check the types
print(f" Employee name variable type :{type(name)}")
print(f" Employee calls  variable type :{type(calls)}")
print(f" Employee revenue variable type :{type(revenue)}")
print(f" Employee avaragedeal size  variable type :{type(avarage_deal_size)}")

 Employee name variable type :<class 'str'>
 Employee calls  variable type :<class 'str'>
 Employee revenue variable type :<class 'str'>
 Employee avaragedeal size  variable type :<class 'str'>

As you can see, we have the type string for all the data, but the average deal size, number of calls, and the revenue need to be integers. 

ðŸ“Œ Convert the data using the int() function and check again.

In [29]:
#Convert the datatypes of average deal size, number of calls, and revenue
#Check the types
print(f" Employee name variable type :{type(name)}")
print(f" Employee calls  variable type :{type(int(calls))}")
print(f" Employee revenue variable type :{type(int(revenue))}")
print(f" Employee avaragedeal size  variable type :{type(int(avarage_deal_size))}")

 Employee name variable type :<class 'str'>
 Employee calls  variable type :<class 'int'>
 Employee revenue variable type :<class 'int'>
 Employee avaragedeal size  variable type :<class 'int'>

In [30]:
#Print out the information again
print(f" Employee name :{name}")

print(f" Employee calls number :{calls}")

print(f" Employee revenue :{revenue}")

print(f" Employee avarage deal size($) : :{avarage_deal_size}")

 Employee name :Ben
 Employee calls number :300
 Employee revenue :2400
 Employee avarage deal size($) : :8

Now, you need to apply all the methods and functions to the list that contains the different strings of all employees.

ðŸ“Œ Create an empty lists for storing names, number of calls, average deal sizes, and revenues.

ðŸ“Œ Use a for loop to iterate through the list with the whole data.

ðŸ“Œ Print out the necessary information.

In [31]:
#Create empty lists for the names, number of calls, average deal sizes, revenues
names=[]
calls_numbers=[]
revenues=[]
avarage_deal_sizes=[]

In [32]:
#Loop over the whole data
for line in lines:
    #Clean the string
    line=line.strip()
    line=line.lower()
    line=line.capitalize()


    #Split the clean string
    words=line.split(" ")
    
    
    #Extract the name
    name=words[0]
    calls_num=words[2]
    

    #Extract the average deal size
    for word in words:
      if "$" in word:
        avarage_deal=word.split("$")[0]
        avarage_deal_sizes.append(avarage_deal)
 

    #Extract the revenue
    dollar_index=words.index("dollars")
    revenue_idx=dollar_index-1
    revenue=words[revenue_idx]


    #Convert to the correct data types
    calls_num=int(calls_num)
    avarage_deal=int(avarage_deal)
    revenue=int(revenue)



    #Append the information to the lists
    names.append(name)
    calls_numbers.append(calls_num)
    avarage_deal_sizes.append(avarage_deal)
    revenues.append(revenue)


#Print out the information

print(f" Employee names :{names}")

print(f" Employee calls numbers :{calls_numbers}")

print(f" Employee revenues :{revenues}")

print(f" Employee avarage deal sizes($) : :{avarage_deal_sizes}")

 Employee names :['Ben', 'Omer', 'Karen', 'Celine', 'Sue', 'Bora', 'Rose', 'Ellen', 'Bob', 'Taylor,', 'Jude']
 Employee calls numbers :[300, 10, 500, 70, 100, 100, 600, 800, 200, 450, 80]
 Employee revenues :[2400, 60, 12000, 2275, 500, 770, 4000, 6000, 800, 1200, 500]
 Employee avarage deal sizes($) : :['8', 8, '6', 6, '24', 24, '32', 32, '5', 5, '25', 25, '25', 25, '40', 40, '15', 15, '10', 10, '12', 12]

Finally, you can make the process even easier and reusable by defining functions.

ðŸ“Œ Define the function "clean_extract".

ðŸ“Œ Use the retured values by assigning them to variables.

In [33]:
#Create empty lists again
names=[]
calls_numbers=[]
revenues=[]
avarage_deal_sizes=[]

In [44]:
import time
#Define a function to clean and extract the data
def clean_extract(lines):
  time_start=time.time()
    #Loop over the whole data
  for line in lines:
    #Clean the string
    line=line.strip()
    line=line.lower()
    line=line.capitalize()


    #Split the clean string
    words=line.split(" ")
    
    
    #Extract the name
    name=words[0]
    calls_num=words[2]
    

    #Extract the average deal size
    for word in words:
      if "$" in word:
        avarage_deal=word.split("$")[0]
        avarage_deal_sizes.append(avarage_deal)
 

    #Extract the revenue
    dollar_index=words.index("dollars")
    revenue_idx=dollar_index-1
    revenue=words[revenue_idx]


    #Convert to the correct data types
    calls_num=int(calls_num)
    avarage_deal=int(avarage_deal)
    revenue=int(revenue)



    #Append the information to the lists
    names.append(name)
    calls_numbers.append(calls_num)
    avarage_deal_sizes.append(avarage_deal)
    revenues.append(revenue)
  time_end=time.time()
  print(" the elapsed  processing time is: ",str(time_end-time_start))


  return names, calls_numbers,avarage_deal_sizes,revenues

In [45]:
#Assign returned values to variables
names, calls_numbers,avarage_deal_sizes,revenues=clean_extract(lines)

 the elapsed  processing time is:  6.771087646484375e-05

In [36]:
#Print out the information


print(f" Employee names :{names}")

print(f" Employee calls numbers :{calls_numbers}")

print(f" Employee revenues :{revenues}")

print(f" Employee avarage deal sizes($) : :{avarage_deal_sizes}")

 Employee names :['Ben', 'Omer', 'Karen', 'Celine', 'Sue', 'Bora', 'Rose', 'Ellen', 'Bob', 'Taylor,', 'Jude']
 Employee calls numbers :[300, 10, 500, 70, 100, 100, 600, 800, 200, 450, 80]
 Employee revenues :[2400, 60, 12000, 2275, 500, 770, 4000, 6000, 800, 1200, 500]
 Employee avarage deal sizes($) : :['8', 8, '6', 6, '24', 24, '32', 32, '5', 5, '25', 25, '25', 25, '40', 40, '15', 15, '10', 10, '12', 12]

### Performance Analysis Report

Now that you cleaned the string and extracted all the information using the function, you can create performance analysis report for the last month.

ðŸ“Œ Assign IDs to each employee.

ðŸ“Œ Create dictionaries.

ðŸ“Œ Sort the dictionaries.

First, check how many employees there are and assign the IDs.

ðŸ“Œ Use the len() and range() function.

In [37]:
#Check the number of employees
employee_num=len(names)
employee_num

11

In [38]:
#Generate IDs
IDs=[id for id in range(employee_num)]
IDs

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [39]:
#Check the number of IDs
ids_num=len(IDs)
ids_num

11

With the IDs ready, you need to assign the IDs to the employees.

ðŸ“Œ Use the zip() function to pair the employee with the ID.

ðŸ“Œ Convert the zip object into a dictionary.

In [40]:
#Pair the names with the IDs in a dictionary
employee_ids=dict(zip(IDs,names))
employee_ids

{0: 'Ben',
 1: 'Omer',
 2: 'Karen',
 3: 'Celine',
 4: 'Sue',
 5: 'Bora',
 6: 'Rose',
 7: 'Ellen',
 8: 'Bob',
 9: 'Taylor,',
 10: 'Jude'}

Similarly, create a dictionary for the  employees and their revenues.

In [41]:
#Pair the names with the revenues
employee_id_revenue=dict(zip(employee_ids,revenues))
employee_id_revenue

{0: 2400,
 1: 60,
 2: 12000,
 3: 2275,
 4: 500,
 5: 770,
 6: 4000,
 7: 6000,
 8: 800,
 9: 1200,
 10: 500}

Finally, you need to find the employees with the best and lowest performance.

ðŸ“Œ Sort the dictionary using the sorted() function in ascending and descending order.

In [42]:
#Find the lowest performing employees (ascending order)

In [43]:
#Find the best performing employees (descending order)